@charset "UTF-8";
/***変数***/
/***変数ここまで***/
/***共通ここから***/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

.sp {
  display: block;
}

.pc {
  display: none;
}

.inner {
  width: 90%;
  margin: auto;
}

ul li {
  list-style-type: none;
}

.white {
  color: #fff;
}

/***共通ここまで***/
/***コンテンツここから***/
header {
  background: #fff;
}
header h1 {
  padding: 1rem;
  width: 30%;
}

#wrapper {
  background: #657999;
}

.bg {
  background-image: url(../images/flower_right.png), url(../images/flower_right.png), url(../images/flower_left.png);
  background-size: 40%, 40%, 40%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top 43%, right bottom 20%, left bottom;
}

#top {
  position: relative;
}
#top h3 {
  position: absolute;
  right: 1rem;
  bottom: -15%;
  width: 23%;
}
#top h3 a {
  transition: all 0.3s;
  position: relative;
}
#top h3 a:hover {
  top: 3px;
}

#prize {
  padding: 3rem 0 4rem;
}
#prize h2 {
  width: 70%;
  margin: auto;
  padding-bottom: 3rem;
}
#prize h3 {
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 2rem;
}
#prize h3 span {
  -webkit-text-emphasis: filled dot #C9145A;
          text-emphasis: filled dot #C9145A;
  font-weight: 400;
}
#prize h4 {
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 5rem;
  text-align: center;
}
#prize .best {
  background: #fff;
  padding: 3rem 2rem 3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 2rem;
}
#prize .best .badge01 {
  position: absolute;
  top: -3%;
  right: 2%;
  width: 8rem;
}
#prize .best h2 {
  width: 100%;
}
#prize .best h3 {
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
#prize .best h3::before, #prize .best h3::after {
  content: "";
  width: 1px;
  height: 40px;
  background-color: #333333;
}
#prize .best h3::before {
  margin-right: 30px;
  transform: rotate(-25deg);
}
#prize .best h3::after {
  margin-left: 30px;
  transform: rotate(25deg);
}
#prize .best_all__li {
  border-bottom: solid 0.1rem #DCE2E1;
  padding: 2rem 0;
}
#prize .best_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#prize .best_list h5 {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 1rem;
}
#prize .best_list h6 {
  text-align: center;
  color: #C9145A;
  font-size: 1.4rem;
  font-weight: bold;
}
#prize .best_list h6 span {
  font-size: 3.5rem;
  font-weight: bold;
  padding-right: 0.5rem;
}
#prize .best_list__text {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0 0;
}
#prize .best_list__text a {
  color: #0071B1;
}
#prize .best_list__text-s {
  padding-top: 1rem;
  font-size: 1rem;
  padding-left: 30%;
}
#prize .best_list__text-s a {
  color: #0071B1;
}
#prize .plus {
  padding: 2rem 0 0;
  text-align: center;
}
#prize .plus__01 {
  color: #C9145A;
  font-weight: bold;
  font-size: 5rem;
  padding-bottom: 2rem;
}
#prize .plus__02 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
#prize .plus a {
  color: #0071B1;
}
#prize .second {
  background: #fff;
  padding: 3rem 2rem 3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 2rem;
}
#prize .second h2 {
  width: 40%;
  margin: auto;
  padding-bottom: 3rem;
}
#prize .second figure {
  width: 50%;
  margin: auto;
  padding-bottom: 1rem;
}
#prize .second h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
#prize .second .badge02 {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 8rem;
}
#prize .amazon {
  font-size: 1.2rem;
}
#prize .amazon li {
  padding-bottom: 0.5rem;
  line-height: 1.5;
  padding-left: 1em;
  text-indent: -1em;
}

#application {
  padding: 4rem 0;
  position: relative;
}
#application h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
#application h3 {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 7rem;
}
#application .step01 {
  background: #fff;
  padding: 5rem 2rem 3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 2rem;
  margin-bottom: 7rem;
}
#application .step01 h4 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: bold;
  line-height: 1.5;
}
#application .step01 figure {
  width: 80%;
  margin: auto;
}
#application .step01 h5 {
  font-size: 1.2rem;
  text-align: center;
}
#application .step01 .number {
  position: absolute;
  width: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: -10%;
}
#application .step01 figure {
  padding-bottom: 2rem;
}
#application .step02 {
  background: #fff;
  padding: 5rem 2rem 3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 2rem;
  margin-bottom: 7rem;
}
#application .step02 h4 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: bold;
  line-height: 1.5;
}
#application .step02 figure {
  width: 80%;
  margin: auto;
}
#application .step02 h5 {
  font-size: 1.2rem;
  text-align: center;
}
#application .step02 .number {
  position: absolute;
  width: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: -10%;
}
#application .step02 figure {
  width: 100%;
}
#application .step02 .number {
  width: 4rem;
  top: -8%;
}
#application .step03 {
  background: #fff;
  padding: 5rem 2rem 3rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 2rem;
  margin-bottom: 7rem;
  margin-bottom: 0;
}
#application .step03 h4 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: bold;
  line-height: 1.5;
}
#application .step03 figure {
  width: 80%;
  margin: auto;
}
#application .step03 h5 {
  font-size: 1.2rem;
  text-align: center;
}
#application .step03 .number {
  position: absolute;
  width: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: -10%;
}
#application .step03 figure {
  width: 100%;
}
#application .step03 .number {
  width: 4rem;
  top: -8%;
}

#works {
  padding: 4rem 0 1rem;
}
#works h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}
#works h3 {
  font-size: 1.4rem;
  color: #fff;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
}
#works h3::before, #works h3::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #fff;
}
#works h3::before {
  margin-right: 20px;
}
#works h3::after {
  margin-left: 20px;
}
#works ul {
  padding-bottom: 3rem;
}
#works ul li {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}
#works ul li a {
  color: #fff;
  transition: 0.3s;
}
#works ul li a:hover {
  opacity: 0.5;
}

#result {
  padding: 4rem 0;
}
#result h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}
#result p {
  font-size: 1.4rem;
  line-height: 2;
  padding-bottom: 2rem;
}
#result ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
#result ul img {
  width: 5rem;
}

#attention {
  padding: 4rem 0 7rem;
}
#attention h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}
#attention p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
#attention ol {
  padding-left: 1em;
}
#attention ol li {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 1.5;
}

footer {
  background: #1B1464;
  color: #fff;
  padding: 4rem 0;
}
footer .sns {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
}
footer h3 {
  font-size: 1rem;
  text-align: center;
  padding: 2rem 0;
}
footer nav {
  margin-bottom: 3rem;
}
footer nav ul {
  text-align: center;
}
footer nav ul li {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
footer nav ul li a {
  transition: 0.3s;
}
footer nav ul li a:hover {
  opacity: 0.5;
}
footer nav ul:first-of-type {
  margin-bottom: 2.5rem;
}

#dl_btn {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 40%;
  z-index: 1;
}

#page_top {
  margin: auto;
  width: 4rem;
  height: 4rem;
}

#page_top a {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
}

#page_top a::before {
  font-family: FontAwesome;
  content: "\f077";
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/***ハンバーガーここから***/
ハンバーガー #navBtn {
  position: fixed;
  z-index: 1000;
}

.cp_hmenuac03 .cp_bar,
.cp_hmenuac03:before,
.cp_hmenuac03:after {
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  transition: all 0.2s ease-in-out;
  background: #1B1464;
}

.cp_hmenuac03 .cp_bar {
  position: relative;
  margin: 7px 0;
}

.cp_hmenuac03 {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  z-index: 100;
}

#navMenu {
  height: 0;
}

#navMenu nav {
  background: rgba(0, 0, 0, 0);
}

#navMenu.show nav {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #657999;
  background-image: url(../images/flower_right.png), url(../images/flower_left.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 40%;
  background-position: left top, right bottom;
  z-index: 99;
  transition: 0.2s;
}

#navMenu.show nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  color: #1B1464;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navMenu nav ul {
  display: none;
}

#navMenu nav ul li {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #fff;
}
#navMenu nav ul li:last-of-type {
  padding-top: 1rem;
}
#navMenu nav ul li:last-of-type img {
  width: 50%;
}

#navMenu nav ul li:last-of-type {
  border: 0;
}

#navMenu nav ul li a {
  color: inherit;
  display: block;
  transition: 0.3s;
}

#navMenu nav ul li a:hover {
  text-decoration: none;
  opacity: 0.4;
}

.show .cp_hmenuac03 .cp_bar {
  transform: scale(0);
}

.show .cp_hmenuac03:before {
  transform: translateY(10px) rotate(135deg);
  background-color: #fff;
}

.show .cp_hmenuac03:after {
  transform: translateY(-8px) rotate(-135deg);
  background-color: #fff;
}

/***ハンバーガーここまで***/
/***dlボタンここから***/
#dl_sp {
  opacity: 0;
  position: fixed;
  bottom: 0;
  z-index: 970;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.3s;
  transform: translate(0, 100px);
}
#dl_sp ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  list-style-type: none;
  padding: 1rem 0;
}
#dl_sp ul li {
  width: 44%;
}
#dl_sp ul li:last-of-type {
  width: 54%;
}
#dl_sp.is-scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

/***dlボタンここまで***/
/***コンテンツここまで***/
@media (min-width: 480px) {
  html {
    font-size: 68.75%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 980px) {
  html {
    font-size: 93.75%;
    scroll-padding-top: 80px;
    /* 固定ヘッダの高さ分 */
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  /***共通***/
  .inner {
    max-width: 1300px;
    margin: auto;
  }
  .adjust {
    display: block;
    margin-top: -80px;
    padding-top: 80px;
  }
  /***コンテンツここから***/
  header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
  }
  header h1 {
    padding: 0;
    width: 200px;
  }
  .top_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 5px;
    height: 80px;
    box-sizing: border-box;
  }
  .nav_group {
    display: flex;
    align-items: flex-end;
  }
  .nav_group ul {
    display: flex;
    font-size: 16px;
    gap: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
  }
  .nav_group ul li {
    font-weight: bold;
  }
  .nav_group ul li a {
    transition: 0.3s;
  }
  .nav_group ul li a:hover {
    opacity: 0.5;
  }
  .nav_group .top_dl img {
    width: 180px;
  }
  .bg {
    background-image: url(../images/flower_left.png), url(../images/flower_right.png), url(../images/flower_left.png), url(../images/flower_right.png), url(../images/flower_left.png);
    background-size: 20%, 20%, 20%, 20%, 20%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, right top 22%, left top 50%, right bottom 25%, left bottom;
  }
  #top {
    position: relative;
    margin-top: 80px;
  }
  #top h2 {
    background: #657999;
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 0 0;
  }
  #top h3 {
    position: absolute;
    right: 80px;
    bottom: -90px;
    width: 180px;
  }
  #top h3 a {
    transition: all 0.3s;
    position: relative;
  }
  #top h3 a:hover {
    top: 3px;
  }
  #prize {
    padding: 100px 0 75px;
  }
  #prize h2 {
    width: 500px;
    margin: auto;
    padding-bottom: 60px;
  }
  #prize h3 {
    font-size: 35px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 70px;
  }
  #prize h3 span {
    -webkit-text-emphasis: filled dot #F6E63F;
            text-emphasis: filled dot #F6E63F;
    font-weight: 400;
  }
  #prize h4 {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 5rem;
    text-align: center;
  }
  #prize .best {
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
    padding: 80px 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 60px;
  }
  #prize .best .badge01 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 175px;
  }
  #prize .best h2 {
    width: 455px;
  }
  #prize .best h3 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  #prize .best_all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #prize .best_all__li {
    border-bottom: none;
    border-right: solid 0.1rem #DCE2E1;
    padding: 2rem;
    box-sizing: border-box;
  }
  #prize .best_all__li:last-of-type {
    padding-right: 0;
    border-right: none;
  }
  #prize .best_list {
    display: block;
    text-align: center;
  }
  #prize .best_list img {
    max-height: 9rem;
    width: auto;
    margin: auto;
  }
  #prize .best_list h5 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 1rem;
  }
  #prize .best_list h6 {
    text-align: center;
    color: #C9145A;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 50px;
  }
  #prize .best_list h6 span {
    font-size: 3.5rem;
    font-weight: bold;
    padding-right: 0.5rem;
  }
  #prize .best_list__text {
    font-size: 16px;
    text-align: center;
    padding: 2rem 0 0;
  }
  #prize .best_list__text a {
    color: #0071B1;
  }
  #prize .best_list__text-s {
    font-size: 16px;
    font-size: 1rem;
    padding-left: 15px;
  }
  #prize .plus {
    padding: 2rem 0 0;
    text-align: center;
  }
  #prize .plus__01 {
    color: #C9145A;
    font-weight: bold;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  #prize .plus__02 {
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  #prize .plus a {
    color: #0071B1;
  }
  #prize .second_group {
    display: flex;
    justify-content: space-between;
  }
  #prize .second {
    width: 48%;
    box-sizing: border-box;
    background: #fff;
    padding: 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 2rem;
  }
  #prize .second h2 {
    width: 200px;
    margin: auto;
    padding-bottom: 50px;
  }
  #prize .second .second_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #prize .second figure {
    margin: 0;
    padding: 0;
  }
  #prize .second h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0;
  }
  #prize .second .badge02 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 125px;
  }
  #prize .amazon {
    font-size: 14px;
    display: flex;
  }
  #prize .amazon li {
    padding-bottom: 0.5rem;
    line-height: 1.5;
    padding-left: 1em;
    text-indent: -1em;
    padding-right: 30px;
  }
  #application {
    padding: 75px 0;
    position: relative;
  }
  #application h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
  }
  #application h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 120px;
  }
  #application .step_group {
    display: flex;
    justify-content: space-between;
  }
  #application .step01 {
    background: #fff;
    padding: 60px 40px 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 0;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  #application .step01 h4 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 1.5;
  }
  #application .step01 figure {
    width: auto;
    margin: auto;
  }
  #application .step01 h5 {
    font-size: 14px;
    text-align: center;
  }
  #application .step01 .number {
    position: absolute;
    width: 35px;
    left: 0;
    right: 0;
    margin: auto;
    top: -9%;
  }
  #application .step01 h4 {
    padding-bottom: 60px;
  }
  #application .step01 figure {
    padding-bottom: 2rem;
    text-align: center;
  }
  #application .step01 figure img {
    width: 220px;
  }
  #application .step02 {
    background: #fff;
    padding: 60px 40px 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 0;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  #application .step02 h4 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 1.5;
  }
  #application .step02 figure {
    width: auto;
    margin: auto;
  }
  #application .step02 h5 {
    font-size: 14px;
    text-align: center;
  }
  #application .step02 .number {
    position: absolute;
    width: 35px;
    left: 0;
    right: 0;
    margin: auto;
    top: -9%;
  }
  #application .step02 h4 {
    padding-bottom: 60px;
  }
  #application .step02 figure {
    width: 100%;
  }
  #application .step02 .number {
    width: 50px;
    top: -9%;
  }
  #application .step03 {
    background: #fff;
    padding: 60px 40px 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 0;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  #application .step03 h4 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 1.5;
  }
  #application .step03 figure {
    width: auto;
    margin: auto;
  }
  #application .step03 h5 {
    font-size: 14px;
    text-align: center;
  }
  #application .step03 .number {
    position: absolute;
    width: 35px;
    left: 0;
    right: 0;
    margin: auto;
    top: -9%;
  }
  #application .step03 figure {
    width: 100%;
  }
  #application .step03 .number {
    width: 50px;
    top: -9%;
  }
  #works {
    padding: 75px 0 0;
  }
  #works h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 60px;
  }
  #works h3 {
    font-size: 20px;
    padding-bottom: 50px;
    width: 1000px;
    margin: auto;
  }
  #works ul {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
  }
  #works ul li {
    font-size: 20px;
    padding-bottom: 0;
    width: 30%;
  }
  #works ul li a {
    transition: 0.3s;
  }
  #works ul li a:hover {
    opacity: 0.5;
  }
  #result {
    padding: 75px 0;
  }
  #result h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
  }
  #result p {
    font-size: 20px;
    line-height: 2;
    padding-bottom: 40px;
  }
  #result ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  #result ul img {
    width: 65px;
  }
  #attention {
    padding: 75px 0 150px;
  }
  #attention h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
  }
  #attention p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  #attention ol {
    padding-left: 1em;
  }
  #attention ol li {
    font-size: 20px;
    padding-bottom: 1rem;
    line-height: 1.5;
  }
  footer {
    color: #fff;
    padding: 60px 0;
  }
  footer .sns {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
  }
  footer h3 {
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
  footer nav {
    margin-bottom: 3rem;
  }
  footer nav ul {
    text-align: center;
  }
  footer nav ul li {
    font-size: 18px;
    padding-bottom: 30px;
  }
  footer nav ul:first-of-type {
    margin-bottom: 0;
  }
  #dl_pc02 {
    list-style-type: none;
  }
  #dl_pc02 .mb20 {
    margin-bottom: 15px;
  }
  #dl_pc02 .qr_each {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
  #dl_pc02 .qr_each li:first-of-type {
    padding-right: 15px;
    width: 30%;
  }
  #dl_pc02 .qr_each li:last-of-type {
    width: 70%;
  }
  /***dlボタンここから***/
  #dl_pc {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 970;
    width: 263px;
    transition-duration: 0.3s;
    transform: translate(0, 100px);
  }
  #dl_pc.is-scrollIn {
    opacity: 1;
    transform: translate(0, 0);
  }
  #dl_pc dt {
    background: #7BCCD4;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }
  #dl_pc dt::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 15px;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 8px;
  }
  #dl_pc dt.open::after {
    top: 45% !important;
    transform: rotate(-45deg) !important;
  }
  #dl_pc dd {
    background-color: rgba(255, 255, 255, 0.8);
  }
  #dl_pc dd.close {
    display: none;
  }
  #dl_pc .qr_group {
    list-style-type: none;
    padding: 20px;
  }
  #dl_pc .qr_group .mb20 {
    margin-bottom: 15px;
  }
  #dl_pc .qr_each {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
  #dl_pc .qr_each li:first-of-type {
    padding-right: 15px;
  }
  #dl_pc .qr_each li:first-of-type img {
    width: 60px;
  }
  #dl_pc .qr_each li:last-of-type img {
    width: 150px;
  }
  /***dlボタンここまで***/
  /***コンテンツここまで***/
}

/*# sourceMappingURL=style.css.map */